{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/types/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/providers/(.*)$",
		"^@/navigation/(.*)$",
		"^@/api/(.*)$",
		"^@/store/(.*)$",
		".*\\.css$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
